
<section class="footer_header">
  <div class="footer_header_social-media">
    <a [href]="linkedinUrl" target="_blank">
      <i class="bi bi-linkedin"></i>
      <p>LinkedIn</p>
    </a>
    <a [href]="githubUrl" target="_blank">
      <i class="bi bi-github"></i>
      <p>GitHub</p>
    </a>
  </div>
  <div class="footer_header_logo">
    <img src="/assets/images/portfolio-logo.svg" alt="">
  </div>
  <div class="footer_header_contact">
    <p>{{ location }}</p>
  </div>
</section>

<section class="footer_bottom">
  <p>
    <!-- <madeBy> Tomas Ndlate </madeBy> -->
      &#60; {{ devName }} /&#62;
  </p>
</section>
