:host {
  display: flex;
  flex-direction: column;
  gap: 80px;
  /* background-color: pink; */
}

.background-secondary {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  color: var(--color-text-primary);
  padding: 80px 0;
}

.background-secondary {
  /* background-color: var(--color-background-secondary); */
  background: linear-gradient(
    to bottom,
    rgba(6, 6, 6, 1),
    rgba(6, 6, 6, 1),
    rgba(6, 6, 6, 1),
    rgba(6, 6, 6, 0)
  );
}

header {
  position: relative;
  width: var(--width-md);
  height: fit-content;
  margin: auto;
  /* background-color: pink; */
}


.resume {
  position: relative;
  width: var(--width-md);
  height: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 35px;
}


.resume_profile {
  position: sticky;
  width: 100%;
  height: fit-content;
  top: 50px;
  /* display: ; */
}

.resume_details {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.skills {
  position: relative;
  width: 100%;
  height: fit-content;
}

.projects {
  position: relative;
  width: 100%;
  height: fit-content;
}

.footer {
  position: relative;
  width: var(--width-md);
  height: fit-content;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .resume {
    grid-template-columns: 1fr;
  }

  .resume_profile {
    position: relative;
    /* width: 100%;
    height: fit-content; */
    top: 0;
    /* display: ; */
  }
}
