<!-- <div class="background-primary"> -->
<header>
  <app-navbar></app-navbar>
</header>

<section class="resume">

  <!-- PROFILE -->
  <aside class="resume_profile">
    <app-profile [profile]="portfolioData.profile"></app-profile>
  </aside>

  <article class="resume_details">
    <!-- ABOUT -->
    <app-resume-about [about]="portfolioData.about" ></app-resume-about>
    <!-- EMPLOYMENT -->
    <app-resume-section [section]="portfolioData.employment"></app-resume-section>
    <!-- EDUCATION -->
    <app-resume-section [section]="portfolioData.education"></app-resume-section>
    <!-- CERTIFICATIONS -->
    <app-resume-section [section]="portfolioData.certifications"></app-resume-section>
  </article>

</section>
<!-- </div> -->

<div class="background-secondary">
  <section class="skills">
    <!-- SKILLS -->
    <app-skills [skills]="portfolioData.skills"></app-skills>
  </section>

  <section class="projects">
    <!-- PROJECTS -->
    <app-projects [projects]="portfolioData.projects"></app-projects>
  </section>
</div>
