/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

router-outlet {
  display: none;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

:root {
  /* DISPLAY SIZES */
  --width-md: min(calc(100% - 20px), 1200px);
  /* --width-lg: 100%; */

  /* Colors */
  --color-background-primary: rgba(15, 22, 32, 1);
  --color-background-secondary: rgba(6, 6, 6, 1);
  --color-background-third: rgb(50, 50, 50);
  /* --color-background-contrast: rgba(44, 44, 44, 1); */

  /* Text colors */
  --color-text-primary: rgb(255, 255, 255);
  --color-text-secondary: rgb(200, 200, 200);
  --color-text-third: rgb(0, 193, 164);

  /* FONT SIZES */
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --line-height-sm: 28px;
  --line-height-md: 35px;
  --line-height-lg: 40px;
}

body {
  position: relative;
  padding: 40px 0;
  /* background-color: var(--color-background-primary); */
  background: linear-gradient(to top right, #111, #001c15);
  color: var(--color-text-primary);
  height: fit-content;
}

body::before {
  content: "";
  background-image: url(assets/images/grid-pattern.png);
  background-repeat: repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .025;
}
